#primary-pic {
  height: 240px;
  border-radius: 10%;
  margin: 0 0 30px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font: 16px 'helvetica neue', Helvetica, Arial;
  line-height: 24px;
  color: #303030;
  font-weight: 300;
  background-color: #fdfdfd;
}
#page-wrap {
  width: 800px;
  margin: 60px auto 80px;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
#objective p {
  color: #666;
}
#objective .quote {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
}
.export-button-group {
  width: 80%;
}
h1 {
  margin: 0 0 0 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
}
h2 {
  font-size: 20px;
  margin: 0 0 2px 0;
  position: relative;
}
.job-data {
  font-style: italic;
  font-size: 16px;
  color: #999;
  font-weight: normal;
  margin: 0 0 3px 0;
}
p {
  margin: 0 0 16px 0;
}
a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
a:hover {
  border-bottom-style: solid;
  color: black;
}
ul {
  margin: 0 0 32px 17px;
}
dt {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  padding: 0 26px 0 0;
  width: 180px;
  float: left;
  height: 100px;
  border-right: 1px solid #999;
}
dd {
  width: 595px;
  float: right;
}
dd.clear {
  float: none;
  margin: 0;
  height: 15px;
}
@media only screen and (max-width: 767px) {
  #page-wrap {
    width: auto;
    margin: 30px 0 40px;
    padding: 0 20px 0 20px;
  }
  dt {
    font-size: 24px;
    text-align: left;
    padding-bottom: 10px;
    width: auto;
    float: none;
    height: auto;
    border-right: none;
  }
  dd {
    width: auto;
    float: none;
  }
}
